
* {
    padding: 0;
    margin: 0;
}

%lato_700_14 {
    font-family: Lato;
    font-weight: 700;
    font-size: 17px;
}

%lato_400_15 {
    font-family: Lato;
    font-weight: 400;
    font-size: 15px;
}


%lato_400_14 {
    font-family: Lato;
    font-weight: 400;
    font-size: 13px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
  }

.center {
    display: flex;
    padding: 0 calc(50% - 500px);
}

.header {
    @extend %lato_700_14;
    background-color: #2070b2;
    color: #fff;
}


.container {
    padding: 20px;
    width: 100%;
}


.container_advanced {
    border-left: 1px solid #2070b2;
    border-right: 1px solid #2070b2;
    -webkit-box-shadow: 0px 0px 16px 8px rgba(32, 112, 178, 0.2);
    -moz-box-shadow: 0px 0px 16px 8px rgba(32, 112, 178, 0.2);
    box-shadow: 0px 0px 16px 8px rgba(170, 202, 228, 0.2);
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.header-box__input, .header-box_button {
    padding: 0 22px;
    width: 150px;
    height: 25px;
    border: 2px solid #155080;
    border-radius: 5px;
    @extend %lato_400_14;
}

.header-box_button {
    width: 70px;
    height: 30px;
    padding: 5px;
    color: #155080;
    transition: ease-in 0.15s;
}

.header-box_button:hover {
    cursor: pointer;
    background-color: #2070b2;
}

.header-box_button:hover span {
    color: #fff;
}

.main-header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    @extend %lato_400_15;
    border-bottom: 1px solid #2070b2;
    color: #2070b2;
}

.message-box p {
    padding: 5px 0;
    @extend %lato_400_14;
    color: #45535e;
}

footer {
    flex-shrink: 0;
  }

